nav {
    display: block;
    width: 100%;
    border: 2px solid black;
    background: darkgoldenrod;
}

nav > ul {
    padding-inline-start: 0;
}

#nav__list {
    display:flex;
    width: 100%;
    list-style: none;
    justify-content: center;
    align-items: center;
}

#nav__list  li {
    font-weight: 600;
    border-left: 2px solid black;
    padding: 0 1.5rem;
}

#nav__list > li:first-child {
    border-left: none;
}

#nav_mini {
    position: absolute;
    border-radius: 5px;
    background-color: rgb(218, 165, 32, 0.75);
    z-index: 1000;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#nav__list-mini {
    list-style: none;
}

#nav__list-mini {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#nav__list-mini > li {
    padding: 0.5rem 0;
    width: 100%;
    border-bottom: 2px solid black;
}

#nav__list-mini > li:last-child {
    border-bottom: none;
}

#nav__button, #nav__list-mini-button--clicked{
    position: fixed;
    border-radius: 50%;
    top: 2rem;
    right: 2rem;
    padding: 0 0.5rem;
    background-color: darkgoldenrod;
    font-size: 2rem;
}

#nav__list-mini-button--clicked {
    transform: rotateZ(45deg);
}

@media (max-width: 700px) {
    
}
